# Default ignored files
/shelf/
/workspace.xml

# Rider ignored files
/.idea.WSOA2006_SEMESTER_GAME_PROJECT_FILE_STUDIO_S.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

